aside {
    position: fixed;
    right: 0;
    top: 0;
    background-color: yellow;
    height: 100%;
    width: 400px;
    z-index: 1;
    transition: all linear 200ms;
    transform: translateX(0);
}
aside div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}
aside a {
    font-size: 30px;
    font-family: "Anek Latin";
    text-decoration: none;
    color: black;
    padding: 15px 15px;
    margin-bottom: 15px;
}
aside > div > a:hover {
    border: 2px solid red;
    border-radius: 5px;
    background-color: rgb(255,0,0,0.1);
}
#junk {
    height: 86px;
    width: auto;
    padding: 15px 15px;
    margin: 15px 0px;
}
.active {
    transform: translateX(100%);
}